[submodule "gen/extern/fil-blst"]
	path = gen/extern/fil-blst
	url = https://github.com/chenjianmei111/fil-blst.git
[submodule "gen/extern/filecoin-ffi"]
	path = gen/extern/filecoin-ffi
	url = https://github.com/chenjianmei111/filecoin-ffi.git
